{% extends "templates/web.html" %}

{% block title %}{{ _("Adabia Port") }}{% endblock %}

{% block page_content %}
  <!-- Hero -->
    <div class="scroll-progress"></div>
    <section class="sec hero-area">
      <div class=" slider_section h-100">
        <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner h-100">
            <div class="carousel-item h-100 active">
              <div class="container h-100">
                <div class="slider_item-container">
                  <div class="row h-100">
                    <div class="col-md-6  align-content-center">
                      <div class="slider_item-detail ">
                        <div>
                          <h1 class="text-center">
                            ميناء الأدبية
                          </h1>
                          <h3 class="text-center">أحد مواني الهيئة الإقتصادية</h3>
                          <h4 class="text-center font-weight-bold ">
                            مرحباً بكم في ميناء الأدبية، مركز لوجستي رائد يقدم خدمات شاملة
                          </h4> 
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 align-content-center">
                      <div class="slider_img-box">
                        <img src="/assets/adabia_port/images/cargo-loader.png" alt="cargo-loder" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item h-100 ">
              <div class="container h-100  border-blue">
                <div class="row  h-100">
                  <div class="col-md-6  align-content-center">
                    <div>
                      <h1 class="text-center">PMIS</h1>
                      <h3 class="text-center">
                        البنية التحتية الحديثة والتكنولوجيا المبتكرة<br> لدينا تمكننا من تحسين سلسلة التوريد الخاصة بكم
                      </h3>
                    </div>
                    
                  </div>
                  <div class="col-md-6 align-content-center">
                    <img  src="/assets/adabia_port/images/cargo-ship.png" alt="" class="img-fluid h-100">
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item h-100 ">
              <div class="container h-100">
                <div class="row h-100">
                  <div class="col-md-6 align-content-center">
                    <div class="">
                      
                      <h1 class="text-center">
                        مستودعات التخزين 
                      </h1>
                      <h3 class="text-center">لأنواع الزيوت والكيماويات</h3>
                      <h5 class="text-center">قدرة تخزينية تصل الي 63000م3</h5>
                      
                    </div>
                  </div>
                  <div class="col-md-6 align-content-center" >
                    <img src="/assets/adabia_port/images/tanks.png" alt="" class="">
                    
                  </div>
                </div>
                
              </div>
            </div>
            
            <div class="carousel-item h-100 ">
              <div class="container h-100">
                <div class="row h-100">
                  <div class="col-md-6 align-content-center ">
                    <h1 class="text-center">افضل الانظمة الحديثة</h1>
                    <h3 class="text-center">ساحات انتظار</h3>
                    <h3 class="text-center">حجز مسبق للشاحنات</h3>
                  </div>
                  <div class="col-md-6 align-content-end">
                    <img src="/assets/adabia_port/images/old-truck.png" alt="" class="img-fluid">
                  </div>
                </div>
                
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
   <!-- About Us -->
    <section class="sec about">
    <h2 class="sec-title">عن الميناء</h2>
    <div class="container pb-10">
      <div class="row animate">
        <div class="col-md-6 ">
          <div class="">
            <img src="/assets/adabia_port/images/adabiya-port-2048x1138.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="">
            <p>
              تم إنشاء الميناء أثناء الحرب العالمية الثانية لخدمة الحلفاء وتم تشغيله من قبل الإدارة المصرية في عام 1954.
                يعتبر الميناء أحد أهم الموانئ المصرية في منطقة خليج السويس.
                تم نقل اختصاصه من الهيئة العامة لموانئ البحر الأحمر إلى الهيئة العامة للمنطقة الاقتصادية لقناة السويس في 19/8/2015يتمتع ميناء الأدبية بموقع متميز يربط طرق التجارة الرئيسية ويوفر وصولاً فعالاً إلى الأسواق الإقليمية.
  يقع على الساحل الغربي لخليج السويس، على بعد حوالي 17 كيلومترًا من مدينة السويس. يتكون هذا الميناء من تسعة أرصفة يبلغ طولها حوالي 1445 مترًا وغاطس يتراوح من 9 إلى 14 مترًا .

            </p>
          </div>
        </div>
        
      </div>
      <img class="header-bg" src="/assets/adabia_port/images/header-bg.jpg" alt="plane" />
    </div>

    </section>
    <!-- Services -->
    <section class="sec pb-10">
      <h2 class="sec-title text-white ">الخدمات المقدمة</h2>
      <div class="container services">
        <div class="row animate">
          <div class="col-md-4 shadow p-2">
            <div class="s-t-3 ">
              <img src="/assets/adabia_port/images/loading-op.jpg" alt="service-1">
              <h3>
                الشحن و التفريغ
              </h3>
            </div>
            <div class="p-1">
              <p>
                تعتبر عمليات الشحن والتفريغ الفعّالة أمرًا بالغ الأهمية لتقليل التأخيرات وخفض تكاليف المناولة ومنع تلف البضائع. وتتطلب هذه العمليات موظفين مهرة ومعدات متطورة وتخطيطًا دقيقًا لضمان انتقالات سلسة وفعالة بين المراحل المختلفة لسلسلة التوريد ويقع عاتق الميناء علي وضع القواعد والانظمة التي تساعد علي تقدم العمليات بسلاسة ومرونة . مما يضمن التزام الشركات بمعدلات الشحن والتفريغ الاعلي بين منافسيها
              </p>
              
            </div>
          </div>
          <div class="col-md-4 shadow p-2 ">
            <div class=" s-t-3">
              <img src="/assets/adabia_port/images/service-3.jpg" alt="">
              <h3>
                التخزين
              </h3>
            </div>
            <div class="p-1">
              <p>
                تعتبر خدمات التخزين ضرورية للتعامل مع البضائع بأنواعها سواء المعبأة في حاويات أوالسائبة، مما يضمن كفاءة العمليات اللوجستية وسلاسة عمليات التوريد. توفر الميناء مرافق تخزين متخصصة مصممة لتلبية المتطلبات الفريدة لأنواع مختلفة من البضائع. وتشمل ساحات تخزين مكشوفة ومستودعات. كما يحتوي على محطات ضخمة ذات بنية تحتية مثل خزانات التخزين والصوامع. 

              </p>
              
            </div>
          </div>
          <div class="col-md-4 shadow p-2 ">
            <div class="s-t-3">
              <img src="/assets/adabia_port/images/service-2.jpg" alt="">
              <h3>
                الخدمات اللوجستية
              </h3>
              
            </div>
            <div class="p-1">
              <p>
                الخدمات اللوجستية هي العمود الفقري لإدارة سلسلة التوريد، وتشمل التخطيط والتنفيذ والتحكم في حركة وتخزين السلع والخدمات والمعلومات بالاضافة الي الخدمات الملاحية والانشطة المترتبة عليها. ولذلك تحرص الميناء علي تقديم افضل النظم الخاصة بادارة الموانئ لتوفير بيئة عمل ذو كفاءة عالية لضمان جودة الخدمة المقدمة من شركاءها علي مستوي الاعمال اللوجستية.
              </p>
              
            </div>
          </div>
        </div>
      </div>
      <img class="back-effect-bg" src="/assets/adabia_port/images/footer-bg.png" alt="plane">
    </section>
    <!-- In Numbers -->
    <section class="sec pb-10" id="in-numbers">
      <h2 class="sec-title" >إحصائيات2024 </h2>
      <div class="container h-100 ">
        <div class="row">
          <div class="col-xs-6 col-md-6 pb-10">
            <div class="d-flex align-items-center flex-column justify-content-center shadow py-3 rounded" >
              <p class="m-0 font-weight-bold">over</p>
              <h4 class="text-center m-0" id="ships">
                154
              </h4>
              <h6 class="m-0  text-center">زيارة سفينة</h6>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 pb-10">
            <div class="d-flex align-items-center flex-column justify-content-center shadow py-3 rounded" >
              <p class="m-0 font-weight-bold">over</p>
              <h4 class="text-center m-0" id="trucks">
                182000
              </h4>
              <h6 class="m-0 text-center">زيارة شاحنة</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="d-flex align-items-center flex-column justify-content-center shadow py-3 rounded" >
              <p class="m-0 font-weight-bold">over</p>
              <h4 class="text-center m-0" id="containers">
                35000
              </h4>
              <h6 class="m-0">حاوية</h6>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="d-flex align-items-center flex-column justify-content-center shadow py-3 rounded" >
              <p class="m-0 font-weight-bold">over</p>
              <h4 class="text-center m-0" id="dry-bulk">
                235000
              </h4>
              <h6 class="m-0 text-center">طن صب جاف </h6>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="d-flex align-items-center flex-column justify-content-center  shadow py-3" >
              <p class="m-0 font-weight-bold">over</p>
              <h4 class="text-center m-0" id="wet-bulk">
                385000
              </h4>
              <h6 class="m-0 text-center">طن زيوت وكيماويات</h6>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div class="d-flex align-items-center flex-column justify-content-center  shadow py-3" >
              <p class="m-0 font-weight-bold">over</p>
              <h4 class="text-center m-0" id="animals">
                140000
              </h4>
              <h6 class="m-0">رأس ماشية</h6>
            </div>
          </div>
        </div>
      </div>
    </section> 

 




  <!-- <section class="section" id="services" >
    
    <div class="container h-75 shadow d-flex flex-column align-items-center ">
      <div class="w-100 pt-4">
        <h4 class="text-center m-0">
          التعامل مع البضائع بما في ذلك الشحن والتفريغ والتخزين والتخليص الجمركي والشحن للأنواع التالية من البضائع 
        </h4>
        <ul class="operation-list collect" id="operation-list">
          <li >الحاويات</li>
          <li>البضائع العامة</li>
          <li>البضائع الثقيلة والمهيئات</li>
          <li>الزيوت والمواد الكيميائية</li>
          <li>الصب الجاف</li>
          <li>الصب السائل</li>
          <li>الماشية الحية</li>
          <li>إمداد السفن بما في ذلك التزويد بالوقود والمياه العذبة والإمدادات</li>
          <li>مزارع خزانات النفط والمواد الكيميائية</li>
          <li>رفع مخلفات السفن</li>
        </ul>

      </div>
      <div class="w-100 p-4" >
        <h4 class="text-center mt-3"> السعة التخزينية</h4>
        <div class="row ">
          <div class="col-xs-6 col-md-5 text-center shadow p-2">
            <p class="m-0 font-weight-bold"> 260900 طن<sup>3</sup></p>
            <p class="m-0 font-weight-bold">المستودعات / صهاريج تخزين</p>
            
          </div>
          <div class="col-xs-2 col-md-2"></div>

          <div class="col-xs-6 col-md-5 text-center shadow p-2">
            <p class="font-weight-bold">
              منطقة تخزين مغلقة: 63000 م².<br> 
              منطقة تخزين مفتوحة: 63000 م².
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>  -->

  <!-- Futuer Projects -->
  <!-- <section class="section" id="futuer-projects">
    <h2 class="sec-title">الأرصفة</h2>
    <div class="container ele-layout h-75 d-flex flex-column align-items-center">
      <img src="/assets/adabia_port/images/Al-Adabiya-Berths.png" class="w-100 h-100" alt="Al-Adabiya-Berths">
    </div>
    
  </section> -->

  <!-- Contact -->
  <!-- <section class="section" id="board-members" >
    <h2 class="sec-title">أعضاء مجلس الإدارة</h2>
    <div class="container ">
      <div class="row d-flex justify-content-around">
        <div class="rounded shadow text-center p-2" style="width: 10rem;">
          <div class=" ">
            <img class="rounded-circle " style="width: 100px; height: 100px; object-fit: cover; "  src="/assets/adabia_port/images/user6-128x128.jpg" alt="Al-Adabiya-Berths"/>
            <p class="card-text font-weight-bold m-0">مدير الميناء</p>
            <p class="card-text font-weight-bold m-0">قبطان / جمال الحلو</p>
            
          </div>
        </div>
        <div class="rounded shadow text-center p-2" style="width: 10rem;">
          <div class=" ">
            <img class="rounded-circle " style="width: 100px; height: 100px; object-fit: cover; "  src="/assets/adabia_port/images/user2-160x160.jpg" alt="Al-Adabiya-Berths"/>
            <p class="card-text font-weight-bold m-0">نائب مدير الميناء</p>
            <p class="card-text font-weight-bold m-0">قبطان / محمد </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-around mt-5">
        <div class="rounded shadow text-center p-2" style="width: 10rem;">
          <div class=" ">
            <img class="rounded-circle " style="width: 100px; height: 100px; object-fit: cover; "  src="/assets/adabia_port/images/user1-128x128.jpg" alt="Al-Adabiya-Berths"/>
            <p class="card-text font-weight-bold m-0">مدير الإدارة الهندسية</p>
            <p class="card-text font-weight-bold m-0">م/ أحمد عاطف</p>
          </div>
        </div>
        <div class="rounded shadow text-center p-2" style="width: 10rem;">
          <div class=" ">
            <img class="rounded-circle " style="width: 100px; height: 100px; object-fit: cover; "  src="/assets/adabia_port/images/avatar2.png" alt="Al-Adabiya-Berths"/>
            <p class="card-text font-weight-bold m-0">مدير الشئون القانونية</p>
            <p class="card-text font-weight-bold m-0"></p>
          </div>
        </div>
        <div class="rounded shadow text-center p-2" style="width: 10rem;">
          <div class=" ">
            <img class="rounded-circle " style="width: 100px; height: 100px; object-fit: cover; "  src="/assets/adabia_port/images/user8-128x128.jpg" alt="Al-Adabiya-Berths"/>
            <p class="card-text font-weight-bold m-0">مسئول الإدارة الإلكترونية</p>
            <p class="card-text font-weight-bold m-0">أ/ أحمد مصطفي</p>
          </div>
        </div>
        <div class="rounded shadow text-center p-2" style="width: 10rem;">
          <div class=" ">
            <img class="rounded-circle " style="width: 100px; height: 100px; object-fit: cover; "  src="/assets/adabia_port/images/avatar5.png" alt="Al-Adabiya-Berths"/>
            <p class="card-text font-weight-bold m-0">مسئول التراخيص</p>
            <p class="card-text font-weight-bold m-0"> </p>
          </div>
        </div>
      </div>
      
    </div>
  </section> -->

  <!-- Layout -->
  <!-- <section class="section ele-layout" id="layout">
    <h2 class="sec-title ">الخرائط</h2>
    <div class="container ">
      <div class="row  p-0">
        <div class="col-xs-12 col-md-6" >
          <div class="">
            <img class="" style="height: 180px; width: 100%;" src="/assets/adabia_port/images/Road-Network-Connections-Al-Adabiya-port-768x412.jpg" alt="adabiya-port-design-sczone" />
          </div>
          <p class="m-0 text-right font-weight-bold">يتصل الميناء مباشرة بالطريق الوطني M65 الذي يربط الشمال بالجنوب بطريق M75 و M55 المؤدي مباشرة إلى القاهرة. المسافة الإجمالية للقاهرة حوالي 160 كم.</p>
        </div>
        <div class="col-xs-12 col-md-6" >
          <img class="" style="height: 180px; width: 100%;" src="/assets/adabia_port/images/Adabiya-Port-–-Railway-Connections-768x413.jpg" alt="adabiya-port-design-sczone" />
          <p class="m-0 text-right font-weight-bold">يوجد خطان للسكك الحديدية يربطان الميناء – أحدهما يؤدي إلى أرصفة عسكرية والآخر يؤدي إلى ميناء الشحن.</p>
        </div>
        
      </div>
      <div class="row  p-0">
        <div class="col-xs-12 col-md-6" >
          <img class="" src="/assets/adabia_port/images/adabiya-port-design-sczone.jpg" alt="adabiya-port-design-sczone" />
        </div>
        <div class="col-xs-12 col-md-6 align-content-center" >
          <p class="text-right font-weight-bold ">8 أرصفة بـ 1465 م طول إجمالي العمق يتراوح من 9 الي 14 مساحة الميناء 1،140،000 م2  قادرة على استقبال سفن البضائع الجافة حتى 60.000 طن.</p>
        </div>
      </div>
    </div>
  </section> -->


{% endblock %}