
/* Base styles */
@font-face {
    font-family: 'cairo';
    src: url('/assets/adabia_port/fonts/Cairo-Regular.ttf');
}
body {
    font-family: 'cairo', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body section{
    text-align: right;
    
}
h3 {
    margin-top: 1rem;
}
.navbar {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(74, 75, 77, 0.3);
    z-index: 1001;
}
.video { 
    width: 100%;
    height: 100%;  
    
}
.ele-layout {
    position: relative;
}
.ele-layout::after {    
    content: "";
    position: absolute;
    inset: 0;
}
.sec {
    width: 100%;
    position:relative;
    isolation: isolate;
    overflow: hidden;
}

.sec-title {
    padding-block: .5rem;
    text-align: center;
    padding-inline: 1rem;
    position: relative;
    overflow: hidden;
}
.sec-title::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #0a0057;
}
/* Hero */

.hero-video {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index:-1;
    /* object-fit: scale-down; */
}
.hero-container {
    position:relative;
    font-family: 'arial';
    isolation: isolate;
}

/* in-numbers */
#in-numbers .container {
    position: relative;
}
#in-numbers .container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/adabia_port/images/Bar-Chart.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .3;
    z-index: -1;
}

/* Service Provided */
.operation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.operation-list li {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    
}
.services {
    position: relative;
}
.services .train {
    position: absolute;
    height: 30%;
    bottom: 0;
    right: -5%;
    z-index: -1;
}

.sec .back-effect-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}
.s-t-1 {
    position: relative;
}
.s-t-1 img{
    width: 100%;
    height: 278px;
}
.s-t-1 h3 {
    margin: 0;
    text-align: right;
    position: absolute;
    color: aliceblue;
    right: 0;
    bottom: 0;
}
.s-t-3 {
    position: relative;
    border-radius: 10px;
}
.s-t-3 img{
    width: 100%;
    height: 278px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.s-t-3 h3 {
    margin: 0;
    text-align: right;
    position: absolute;
    color: aliceblue;
    right: 0;
    bottom: 0;
    width:100%;
    padding: 10px;
    background-color: #0a0057;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    outline: 1px solid #0a0057;
    outline-offset: 1px;
    z-index: 1;
}
/* --------------------------------------------------- */
.hero-area {
    background-image: url('/assets/adabia_port/images/bg-adabiya.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    
}
/* .hero-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(252, 252, 252, 0.8); 
    z-index: -1;
} */

.row-h {
    height: 80vh!important;
}
.slider_item-detail h1 {
    font-weight: bold;
    margin: 35px 0;
   
  }
.slider_section .carousel-indicators {
    position: absolute;
    top: 50%;
    left: -10%;
    bottom: auto;
    right: auto;
    flex-direction: column;
    transform: translateY(-50%);
  }
  
  .slider_section .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: #78cffd;
    background-clip: padding-box;
    margin: 3px;
    border: none;
    opacity: 1;
    border-radius: 100%;
    transition: background-color 0.6s;
  }
  
  .slider_section .carousel-indicators .active {
    background-color: #0a0057;
  }