{% extends "templates/web.html" %}

{% block title %}{{ _("Adabia Port") }}{% endblock %}

{% block page_content %}

<div class="hero-video">
  <video autoplay loop muted class="video">
    <source src='/files/hero-video-low.mp4' type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<section class="hero-container" >
  <h2 class="sec-title">2024 In Numbers</h2>
  
</section>
<section class="hero-container" >
  <h2 class="sec-title">Futuer Projects</h2>
  <div class="cards-container">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>

<section class="hero-container" >
  <h2 class="sec-title ">Services Provided</h2>
  <div class="cards-container">
    Cargo handling including stevedoring, warehousing, customs clearance and freight forwarding for the following types of cargo:

    Containerized.
    General Cargo.
    Heavy and Project cargo.
    Oils & Chemicals.
    Dry bulk.
    Liquid Bulk.
    Live Stock.
    Ship supply including bunkering, fresh water and purveyance.
    Oil & Chemicals tank farms

    Capacity: 260900 m³.
    Warehouses / Storage area

    Warehouses: 63000 m².
    Open storage area: 63000 m².
  </div>
</section>
<section class="hero-container" >
  <h2 class="sec-title">Contact Us</h2>
  <!-- <div class="cards-container">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
</section>
<section class="hero-container " >
  <h2 class="sec-title ">ِAdabiya Layout</h2>
  <div class="layout-img container">
    <img class="" src="/files/adabiya-port-design-sczone.jpg" alt="adabiya-port-design-sczone" />
  </div>
</section>


{% endblock %}