/* custom.css */
.widget.shortcut-widget-box{
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    outline: 1px solid rgba(134, 134, 134, 0.8);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
  }
